.addForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addLabel {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
